:root {
    --sidebar-background: #fff; /*#4c6d95; #39546a; */
    --filter-background: #fff; /*#4b729366; */
    --filter-background-active: #fff;/* #4b7293; */
    --page-and-panel-background: #f8f8f8;
    --button-primary: #149cb5;
    --button-secondary: #d7e8ed;
    --button-disabled: #149cb5;
    --primary: #6fe5ff;
}

.top-bar + .top-bar,
.page__content-wrapper .top-bar {
    background: #fff !important;
}

.top-bar {
    /* background: var(--sidebar-background) !important; */
}

.top-bar__breadcrumbs {
    /* color: var(--primary) !important;; */
}

.filter ::placeholder {
    color: #fff !important;
}

.filter__item {
    background-color: var(--filter-background) !important;
}

.filter__item .checkbox{
    border: 2px solid rgb(0 0 0 / 70%) !important;
}

.filter__item--selected .checkbox{
    border: none !important;
}

.filter__item--selected {
    background-color: var(--filter-background-active) !important;
    color: black !important;
}

.sidebar,
.nav-bar {
    background: var(--sidebar-background) !important;
    box-shadow: 1px 0px 3px 0px rgb(0 0 0 / 10%) !important;
    z-index: 1 !important;
    margin-right: 1px !important;
    color: rgb(0 0 0 / 70%) !important;
}

.cd-layout__content.cd-layout__content--sb-expanded {
    z-index: 0;
}

.page__content-wrapper,
.page__top-bar {
    background: var(--page-and-panel-background) !important;
}

.sliding-panel__header,
.sliding-panel__body {
    background: var(--page-and-panel-background) !important;
}

.argo-button {
    border-radius: 4px !important;
}

/* primary */
.argo-button--base,
.argo-button--base:hover {
    background: var(--button-primary) !important;
    color: #fff !important;
}

.argo-button--base:hover,
.argo-button:hover {
    background-color: var(--button-secondary) !important;
    color: #000 !important;
    font-weight: lighter;
}


.argo-button--base:hover i,
.argo-button:hover i {
    /* font-weight: lighter; */
    opacity: 0.5;
}

/* secondary */
.argo-button--base-o {
    color: var(--button-primary) !important;
    box-shadow: inset 0 0 0 1px var(--button-primary) !important;
}

.argo-button--base-o:hover,
.argo-button--base-o:focus {
    background: var(--button-secondary) !important;
    color: #000 !important;
    box-shadow: inset 0 0 0 1px var(--button-secondary) !important;
}

/* disabled */
.argo-button.disabled,
.argo-button[disabled] {
    background: var(--button-disabled) !important;
    opacity: .3 !important;
    color: #fff !important;
}

a,
/* title of the each item in list in settings page */
.settings-overview__redirect-panel__title,
.selected  {
    /* color: var(--primary) !important; */
}

.top-bar__title {
    /* color: var(--primary) !important; */
}

.tabs__indicator {
    background: var(--primary) !important;
}

.applications-list__search {
    border-radius: 3px !important;
}

.autocomplete__input::placeholder {
    color: transparent !important;
}

.filters-group__header, .filter__header {
    color: rgb(0 0 0 / 70%) !important;
}

input.autocomplete__input.input {
    background: white !important;
    border-radius: 0px;
    border: 1px solid black !important;
}

.sidebar__nav-item.sidebar__nav-item--active {
    color: white !important;
    background: var(--button-primary) !important;
}

.sidebar__nav-item, .sidebar__nav-item i {
    color: rgb(0 0 0 / 70%) !important;
}

.sidebar__nav-item--active i {
    color: white !important;
}

.filter__item__label {
    color: rgb(0 0 0 / 70%) !important;
}

.cd-layout:has(.sliding-panel--opened) {
    display: inline;
}

.application-resource-tree__node {
    box-shadow: 0px 0px 3px 1px #ccd6dd !important;
}
.settings-overview__redirect-panel, .user-info-overview__panel, .argo-table-list__row {
    box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 10%) !important;
}

.opsmx_hide .sliding-panel__wrapper{
    width:100% !important
}

.opsmx_hide .page__top-bar, .opsmx_hide .sidebar  {
 display: none;
}